html { 
  background: url(../IMG_1692.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
}

body {
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

a {
    font-size: 56px;
    padding: 10px;
    color: #ffffff;
    text-shadow: .5px .5px 20px #000000;
    text-decoration: none;
}    



h1 a {
    font-size: 112px;
    text-decoration: none;
}

a:hover {
    text-shadow: none;
    text-decoration: underline;
}

a.contact {
    font-size: 32px;
    border: 2px solid white;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}
p a {
     font-size: 32px;
}

div {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    width: 750px;
    height: auto;
    margin: auto;
    margin-top: 30px;
}

p {
    font-size: 32px;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 950px;
    margin: 20px;
    color: white;
    line-height: 1.4em;
    text-shadow: .5px .5px 20px #000000;
}

.selected {
    text-decoration: underline;
}
